
/* css for login */

.login{
    width: 20%;
    border: 1px solid black;
    margin: 10% auto;
    padding: 2% 2%;
    box-shadow: 5px 5px 10px #666666f2;
    background: white;
    border-radius: 1%;
}

.login input[type='text'], input[type='password']{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    
}

.login input[type='submit']{
    width: 100%;
    background-color: #001a4d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login input[type='submit']:hover{
    background-color: #002266;
}

.login img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body{
    background: #F0F2F0;
    background: -webkit-linear-gradient(to top, #000C40, #F0F2F0); 
    background: linear-gradient(to top, #000C40, #F0F2F0);    
}
